@import "default.css";
@import "blobs.css";





/* Navigation Styling */
.header{
	position: relative;
	display: flex;
	background: rgba(0,0,0,.3);
	flex-direction: column;
}
.navigation-bar{
	border-bottom:solid 2px grey ;
	height: 10rem;
	display: flex;
	align-items: center;
}
.hero{
	display: flex;
	align-items: center;
	padding: 0 1rem;
	gap: 1rem;
	min-width: 30vw;
    height: 100%;
}
.hero:hover{
	cursor: pointer;
}
.icon{
	background-color: teal;
	border: 4px solid var(--primary-text);
	border-radius: 50%;
	aspect-ratio: 1;
	height: 4rem;
	font-size: 3rem;
	display:flex;
	justify-content: center;
	align-items: center;
}

.nav-links{
	float: right;
	display: flex;
	list-style-type: none; 
	height: 100%;
	align-items: center;
	justify-content: flex-end;
	align-items: center;
    justify-content: flex-end;
    width: 100%;
	margin: 0;
	padding: 0;
}

.nav-item{
	height: 100%;
	padding: 2rem;
	font-size: 2rem;
	padding: 0 2rem;
	text-decoration: none;
	align-items: center;
	display: flex;
	color:var(--primary-text)
	/* color: white; */
}
.nav-item:hover{
	background-color:   rgba(255, 255, 255, .2);
}

/* General Section Styling */
.section-container{
	display: flex;
	padding: 2rem;
}
.section-container:hover{
	background-color:  rgba(0, 0, 0, .3);
}
.section-content{
	padding: 2rem;
	width: 100%;
}
.section-header{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding-right: 2rem;
	min-width: 30vw;
	border-right: 2px solid grey;
}

/* About Me Section Styling */
.job-description{
	font-style: italic;
	text-shadow: 1px 1px 10px rgb(0 0 0 / 40%);
}

/* Projects Section Styling */
#projects{
	max-height:75rem;
	overflow-y: auto;
}
.project-details{
	text-decoration: none;
	color: var(--primary-text);
}
.project-name{
	font-size: 1.5rem;
	color: var(--primary-text);
}
.project-image{
	width:30rem;
	max-height:18rem;
	cursor: pointer;
}
.project-container{
	display: flex;
	align-items:center;
	height:20rem;
}
.project-container:hover{
	background-color:   rgba(255, 255, 255, .2);
}
.project-thumbnail{
	position: relative;
	margin: 1rem;
}
.btn-view-live{
	position: absolute;
	bottom:1rem;
	right:1rem;
	padding: 1rem;
	border: none;
	color: var(--primary-text);
	background-color: rgba(0, 128, 128, 0.75);
}
.btn-view-live:hover{
	background-color:rgba(0, 128, 128, 1);
}

/* Skills Section Styling */
.skills{
	list-style-type: none;
	flex-wrap: wrap;
	display: flex;
}
.skill-container{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem;
	flex:1 1 45%;
}
.skill-container:hover{
	color:rgba(red, green, blue, alpha);
	background-color:   rgba(255, 255, 255, .2);

}
.proficiency{
	font-size: 2rem;
}
.embed-preview{
	width: 100%;
	aspect-ratio: 16/9;
}

/* Contact Section Styling */

/* Footer Section Styling */
.footer{
	border-top:solid 2px grey ;
	background: rgba(0,0,0,.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem 0;
}